body {
    background-color: #e9ecef;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: large;
    text-align: justify;
    padding: 10px;
}

footer {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 5px;
    font-style: italic;
    font-size: medium;
}