body {
    background-color: #e9ecef;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: large;
    text-align: justify;
    padding: 10px;
}

.photo {
    width: 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    max-width: 100%;
    height: auto;
}


/* Titre du CV */
h1  {
    font-weight: bolder;
}

/* Section du CV */
h2 {
    font-weight: bold;
    background-color: silver;
    margin-top: 50px;
    margin-bottom: 20px;
}

/* Titre de la formation ou expérience */
h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.competence p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.logo-entity {
    margin-top: 50px;
}

.experience-desc {
    font-style: italic;
}