body {
    background-color: #e9e2a8;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: large;
    text-align: justify;
}

img {
    width: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    /* photo responsive */
    max-width: 100%;
    height: auto;
}