body {
    background-color: #e9ecef;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: large;
    text-align: justify;
    padding: 10px;
}

.carousel {
    max-width: 640px;
    height: 360px;
    margin: auto;
}

footer {
    position: absolute;
}